In [1]:
x = 1 # variable => integer
y = 2 # variable => integer

sum = x + y # variable => integer

print(sum)

3

In [2]:
x = 1.5 # variable => float
y = 2 # variable => integer

sum = x + y # variable => float

print(sum)

3.5

In [3]:
True = 1 # keyword / reserved word

SyntaxError: cannot assign to True (1770609971.py, line 1)

In [4]:
i = 1

In [5]:
if = 1 # reserved word

SyntaxError: invalid syntax (535306765.py, line 1)

In [7]:
x = 1 # identifier

print(x)

1

In [8]:
print(X) # case sensitive

NameError: name 'X' is not defined

In [9]:
HELLOworld = 'hello'

print(HELLOworld)

hello

In [11]:
1x = 1

SyntaxError: invalid decimal literal (1014980148.py, line 1)

In [12]:
if = 'ehllo'

SyntaxError: invalid syntax (2111693619.py, line 1)

In [13]:
x@ = 1

SyntaxError: invalid syntax (2416266400.py, line 1)

In [14]:
x_ = 1

In [15]:
and = 1

SyntaxError: invalid syntax (2589573702.py, line 1)

In [16]:
And = 1

In [17]:
None =1

SyntaxError: cannot assign to None (2864903103.py, line 1)

In [18]:
none = 1

In [19]:
HELLO__ = 1

In [20]:
__124 = 'hello'

In [21]:
hello; = 1

SyntaxError: invalid syntax (1928997192.py, line 1)

In [22]:
hello world = '12'

SyntaxError: invalid syntax (3627194968.py, line 1)

In [23]:
fadsf_dsfdsf_dsfds1212_____dfdsf__ = 1

In [24]:
X = 1 + 2 + 3 + 4+ 5 +  2 + 3 + 4 + 2 + 3 + 4 + 2 + 3 + 4 + 2 + 3 + 4 + 2 + 3 + 4 + 2 + 3 + 4 + 2 + 3 + 4 + 2 + 3 + 4 + 2 + 3 + 4
print(X)

96

In [25]:
X = 1 + 2 + 3 + 4+ 5 +  2 + 3 + 4 + 2 + 3 + 4 + 2 + \
3 + 4 + 2 + 3 + 4 + 2 + 3 + 4 + 2 + 3 + 4 + 2 + 3 + 4 + \
2 + 3 + 4 + 2 + 3 + 4
print(X)

96

In [26]:
X = 1 + 2 + 3 + 4+ 5 +  2 + 3 + 4 + 2 + 3 + 4 + 2 + 
3 + 4 + 2 + 3 + 4 + 2 + 3 + 4 + 2 + 3 + 4 + 2 + 3 + 4 + 
2 + 3 + 4 + 2 + 3 + 4
print(X)

SyntaxError: invalid syntax (3092234278.py, line 1)

In [28]:
X = (
    
    
    1 + 2 + 3 + 4+ 5 +  2 + 3 + 4 + 2 + 3 + 4 + 2  
   +3 + 4 + 2 + 3 + 4 + 2 + 3 + 4 + 2 + 3 + 4 + 2 + 
    3 + 4 + 2 + 3 + 4 + 2 + 3 + 4 
    
    
)
print(X)

96

In [31]:
age = 17

if age < 18: # must have colon
    print("Unauthorized.")

Unauthorized.

In [32]:
age = 17

if age < 18:
print("Unauthorized.") # must have indentation (tab => 4 spaces)

IndentationError: expected an indented block after 'if' statement on line 3 (1980901650.py, line 4)

In [33]:
# comment is for developer
# python does not compile comments

In [34]:
# defining function
def hello():
    # this will print hello 
    print("hello")

In [35]:
# function call
hello()

hello

In [38]:
help(hello)

Help on function hello in module __main__:

hello()

In [39]:
# defining function
def hello():
    # documentation string / docstring
    """this will print hello"""
    print("hello")

In [40]:
hello()

hello

In [41]:
help(hello)

Help on function hello in module __main__:

hello()
    this will print hello

In [42]:
country = "Nepal" # string
number = 1 # integer
f_number = 1.5 # float
c_number = 1 + 6j # complex

In [44]:
x = 1
y = 2
z = 3

print(x,y,z)

1 2 3

In [45]:
x, y, z = 1, 2, 3
print(x,y,z)

1 2 3

In [49]:
x = 1
y = 1
z = 1
print(x,y,z)

1 1 1

In [50]:
x = y = z = 1
print(x,y,z)

1 1 1

In [53]:
GRAVITY = 9.8 # constant => means value should be changed
print(GRAVITY)

9.8

In [54]:
GRAVITY = 9 # incase of python constant can be changed
print(GRAVITY) # dynamically typed

9

In [55]:
# float GRAVITY = 9.8

In [56]:
# float x = 1.5 => statically typed

In [58]:
DSJKFHDKS_DSKFHDSKFH_ = 9.8

In [59]:
GRAVITY = 9.8

In [60]:
GRAVITY_OF_EARTH = 9.8

In [62]:
a = 0b1010 # Binary Literals => 2 digits 0,1 
b = 100 # Decimal Literal => 10 digits 0-9
c = 0o310 # Octal Literal => 8 digit 0-7
d = 0x12cd # Hexadecimal Literal => 16 digit 0-9 a-f

print(a,b,c,d)

10 100 200 4813

In [66]:
# Float Literal
float_2 = 1.5e2 # 1.5 * 10 ^ 2
print(float_2)

print(type(float_2))

150.0
<class 'float'>

In [67]:
c = 4j

print(c)
print(type(c))

4j
<class 'complex'>

In [68]:
country = 'nepal'

print(country, type(country))

nepal <class 'str'>

In [69]:
country = "nepal"

print(country, type(country))

nepal <class 'str'>

In [70]:
country = """nepal"""

print(country, type(country))

nepal <class 'str'>

In [71]:
country = 'nepal is beautiful country. I am from nepal.'

print(country, type(country))

nepal is beautiful country. I am from nepal. <class 'str'>

In [72]:
country = 'nepal is beautiful country. 
I am from nepal.'

print(country, type(country))

SyntaxError: unterminated string literal (detected at line 1) (2709257709.py, line 1)

In [73]:
country = 'nepal is beautiful country.\nI am from nepal.'
# \n line breaks => enter
print(country, type(country))

nepal is beautiful country.
I am from nepal. <class 'str'>

In [74]:
country = 'nepal is beautiful country.\tI am from nepal.'
# \t tab 
print(country, type(country))

nepal is beautiful country.	I am from nepal. <class 'str'>

In [75]:
country = r'nepal is beautiful country.\nI am from nepal.'
# \n line breaks => enter
print(country, type(country))

nepal is beautiful country.\nI am from nepal. <class 'str'>

In [77]:
country = 'nepal is beautiful country.\rI am from nepal.'
# \n line breaks => enter
print(country, type(country))

I am from nepal. <class 'str'>

In [78]:
print('रमेश प्रधान') # python support unicode

रमेश प्रधान

In [80]:
unicode = u"\u00dcnic\u00f6de"
print(unicode)

Ünicöde

In [81]:
print(u"\u00dc")

Ü

In [82]:
x = True
y = False

print(type(x))

<class 'bool'>

In [83]:
true = 'hello'

x = true

print(x)

hello

In [85]:
x = None

print(x, type(x))

None <class 'NoneType'>

In [86]:
fruits = ["apple", "mango", "orange"] # list
print(fruits, type(fruits))

['apple', 'mango', 'orange'] <class 'list'>

In [87]:
fruits = ("apple", "mango", "orange") # tuple
print(fruits, type(fruits))

('apple', 'mango', 'orange') <class 'tuple'>

In [88]:
fruits = {"apple", "mango", "orange"} # set
print(fruits, type(fruits))

{'orange', 'apple', 'mango'} <class 'set'>

In [89]:
# dictionary
person = {"name":"ram", "age":22, "address":'ktm'}
print(person, type(person))

{'name': 'ram', 'age': 22, 'address': 'ktm'} <class 'dict'>