In [1]:
print("Hello world")

Hello world

In [3]:
x = 1
y = 2

sum = x + y

# string interpolation using f-string
print(f"The sum of {x} and {y} is {sum}")

The sum of 1 and 2 is 3

In [6]:
print(1,2,3,4,5,'hello')

1 2 3 4 5 hello

In [7]:
help(print)

Help on built-in function print in module builtins:

print(*args, sep=' ', end='\n', file=None, flush=False)
    Prints the values to a stream, or to sys.stdout by default.

    sep
      string inserted between values, default a space.
    end
      string appended after the last value, default a newline.
    file
      a file-like object (stream); defaults to the current sys.stdout.
    flush
      whether to forcibly flush the stream.

In [8]:
print(1,2,3,4,5,'hello', sep='#')

1#2#3#4#5#hello

In [10]:
print(1,2,3,4,5,'hello')
print(1,2,3,4,5,'hello')
print(1,2,3,4,5,'hello')

1 2 3 4 5 hello
1 2 3 4 5 hello
1 2 3 4 5 hello

In [11]:
print(1,2,3,4,5,'hello', end='=>')
print(1,2,3,4,5,'hello')
print(1,2,3,4,5,'hello')

1 2 3 4 5 hello=>1 2 3 4 5 hello
1 2 3 4 5 hello

In [12]:
x = 1
y = 2

sum = x + y

# string interpolation using format
print("The sum of {0} and {1} is {2}".format(x, y, sum))

The sum of 1 and 2 is 3

In [13]:
x = 1
y = 2

sum = x + y

# string interpolation using format
print("The sum of {1} and {1} is {2}".format(x, y, sum))

The sum of 2 and 2 is 3

In [14]:
x = 1
y = 2

sum = x + y

# string interpolation using format
# a, b & c are alias to x, y and sum respectively
print("The sum of {a} and {b} is {c}".format(a=x, b=y, c=sum))

The sum of 1 and 2 is 3

In [16]:
x = input("Enter the first number: ")
y = input("Enter the second number: ")

print(type(x), type(y))
sum = x + y

# string interpolation using f-string
print(f"The sum of {x} and {y} is {sum}")

Enter the first number: 1
Enter the second number: 2
<class 'str'> <class 'str'>
The sum of 1 and 2 is 12

In [17]:
x = int(input("Enter the first number: "))
y = int(input("Enter the second number: "))

print(type(x), type(y))
sum = x + y

# string interpolation using f-string
print(f"The sum of {x} and {y} is {sum}")

Enter the first number: 1
Enter the second number: 2
<class 'int'> <class 'int'>
The sum of 1 and 2 is 3

In [21]:
# principle, rate, time
# SI = p * t * r  / 100

p = int(input("Enter the principle: "))
t = int(input("Enter the time: "))
r = int(input("Enter the rate: "))


si = p * t * r / 100

print(f"Simple Interest: {si}")

Enter the principle: 32
Enter the time: 233
Enter the rate: 23
Simple Interest: 1714.88

In [22]:
number = int(input("Enter number: "))

print("\n")
# 'd' is for integer number formatting
print("The number is:{:d}".format(number))

# 'o' is for octal number formatting, binary and hexadecimal format
print('Output number in octal format : {0:o}'.format(number))

# 'b' is for binary number formatting
print('Output number in binary format: {0:b}'.format(number))

# 'x' is for hexadecimal format
print('Output number in hexadecimal format: {0:x}'.format(number))

Enter number: 23


The number is:23
Output number in octal format : 27
Output number in binary format: 10111
Output number in hexadecimal format: 17

In [23]:
number = int(input("Enter number: "))

# 'd' is for integer number formatting => decimal
print(f"The number is:{number:d}")

# 'o' is for octal number formatting, binary and hexadecimal format
print(f'Output number in octal format : {number:o}')

# 'b' is for binary number formatting
print(f'Output number in binary format: {number:b}')

# 'x' is for hexadecimal format
print(f'Output number in hexadecimal format: {number:x}')

Enter number: 123
The number is:123
Output number in octal format : 173
Output number in binary format: 1111011
Output number in hexadecimal format: 7b

In [24]:
# area of circle = pi * r ** 2
# perimeter of circle = 2 * pi * r

In [25]:
from math import pi

In [26]:
print(pi)

3.141592653589793

In [27]:
r = int(input("enter the value of radius: "))
area_of_circle = pi * r ** 2
perimeter_of_circle = 2 * pi * r

print(area_of_circle)
print(perimeter_of_circle)

enter the value of radius: 5
78.53981633974483
31.41592653589793

In [29]:
x = 10
y = 3

sum = x + y
mul = x * y
div = x / y
sub = x - y

print(sum, mul, div, sub)

13 30 3.3333333333333335 7

In [30]:
floor_div = x // y

print(floor_div)

3

In [31]:
x = 5

print(x ** 3)

125

In [32]:
print(x ** 2)

25

In [33]:
print(x ** 4)

625

In [34]:
x = 10
y = 3

rem = x % y # modulus operator

print(rem)

1

In [35]:
x = 10
y = 3

x > y

True

In [36]:
x < y

False

In [37]:
x == y

False

In [38]:
x != y

True

In [39]:
x = 3
y = 2

x >= y

True

In [40]:
x <= y

False

In [41]:
x = 'apple'

print(len(x))

5

In [42]:
x = True
y = False

# and => all value should be True or 1 to become True
x and y

False

In [43]:
# or => any value should be True or 1 to become True
x or y

True

In [44]:
not x

False

In [45]:
not y

True

In [46]:
True and True and True

True

In [47]:
True and True or True

True

In [49]:
True or True and False

True

In [50]:
(True or True) and False

False

In [51]:
# and has greater precedence over or operator

True and (not(not False)) or (True and (not True))
True and False or False
False or False
False

False

In [52]:

True and (not(not False)) or (True and (not True))

False

In [53]:
'a' in 'ram'

True

In [54]:
'A' in 'ram'

False

In [55]:
'rm' in 'ramesh'

False

In [56]:
'Ra' in 'ramesh'

False

In [57]:
x = 1
y = 1

x == y

True

In [58]:
x = 1
y = 1

x is y

True

In [59]:
x = 1
y = 1

print(id(x))
print(id(y))

x is y

4307033256
4307033256

True

In [60]:
x = 1
y = 2

print(id(x))
print(id(y))

x is y

4307033256
4307033288

False

In [61]:
x = 300
y = 300

print(id(x))
print(id(y))

x is y

4382939216
4382938448

False

In [62]:
x = 250
y = 250

print(id(x))
print(id(y))

x is y

4307041224
4307041224

True

In [63]:
x = 25000
y = 25000

print(id(x))
print(id(y))

x is y

4382937712
4382938832

False

In [65]:
# 0 - 256 => store in static memory address

In [66]:
x = 255
y = 255

print(id(x))
print(id(y))

x is y

4307041384
4307041384

True

In [67]:
x = 256
y = 256

print(id(x))
print(id(y))

x is y

4307041416
4307041416

True

In [68]:
x = 257
y = 257

print(id(x))
print(id(y))

x is y

4382938832
4382938512

False