In [1]:
person1 = {
    "id": 1,
    "name": "ram pradhan",
    "age": 25,
}

person2 = {
    'salary': 234000.50,
    'address': "ktm",
    'email':'ram.pradhan@gmail.com'
}
# person1 is mutated
person1.update(person2)

print(person1)

{'id': 1, 'name': 'ram pradhan', 'age': 25, 'salary': 234000.5, 'address': 'ktm', 'email': 'ram.pradhan@gmail.com'}

In [2]:
print(person2)

{'salary': 234000.5, 'address': 'ktm', 'email': 'ram.pradhan@gmail.com'}

In [3]:
# empty dictionary
x = {}
print(x, type(x))

{} <class 'dict'>

In [4]:
# empty dictionary
x = dict()
print(x, type(x))

{} <class 'dict'>

In [5]:
# set
x = {1,2,3,4,5,6}
print(x, type(x))

{1, 2, 3, 4, 5, 6} <class 'set'>

In [6]:
# set
# order is not maintained in set
x = {1,'hello', 'python', 2.5, 2,3,4,5,6}
print(x, type(x))

{1, 2, 2.5, 3, 'python', 4, 5, 6, 'hello'} <class 'set'>

In [8]:
# set is a unique collection of data
x = {1,2,'hello', 'python', 1, 2, 2.5, 2,3,4,5,6}
print(x, type(x))

{1, 2.5, 2, 3, 'python', 4, 5, 6, 'hello'} <class 'set'>

In [9]:
# cannot store mutable datastructure in set
x = {1,2,'hello', 'python', 1, 2, 2.5, 2,3,4,5,6, [1,2,3]}
print(x, type(x))

TypeError: unhashable type: 'list'

In [10]:
# can only store immutable datastructure in set
x = {1,2,'hello', 'python', 1, 2, 2.5, 2,3,4,5,6, (1,2,3)}
print(x, type(x))

{1, 2.5, 2, 3, 'python', 4, 5, 6, (1, 2, 3), 'hello'} <class 'set'>

In [11]:
x = {1,2,'hello', 'python', 1, 2, 2.5, 2,3,4,5,6, (1,2,3)}
print(x[2]) # since order is not maintained

TypeError: 'set' object is not subscriptable

In [12]:
# set is mutable datastructure
x = {1,2,'hello', 'python', 1, 2, 2.5, 2,3,4,5,6, (1,2,3)}
x.add(7)
print(x)

{1, 2.5, 2, 3, 'python', 4, 5, 6, 7, (1, 2, 3), 'hello'}

In [13]:
help(set)

Help on class set in module builtins:

class set(object)
 |  set() -> new empty set object
 |  set(iterable) -> new set object
 |
 |  Build an unordered collection of unique elements.
 |
 |  Methods defined here:
 |
 |  __and__(self, value, /)
 |      Return self&value.
 |
 |  __contains__(...)
 |      x.__contains__(y) <==> y in x.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iand__(self, value, /)
 |      Return self&=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __ior__(self, value, /)
 |      Return self|=value.
 |
 |  __isub__(self, value, /)
 |      Return self-=value.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __ixor__(self, value, /)
 |      Return self^=value.
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __or__(self, value, /)
 |      Return self|value.
 |
 |  __rand__(self, value, /)
 |      Return value&self.
 |
 |  __reduce__(...)
 |      Return state information for pickling.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __ror__(self, value, /)
 |      Return value|self.
 |
 |  __rsub__(self, value, /)
 |      Return value-self.
 |
 |  __rxor__(self, value, /)
 |      Return value^self.
 |
 |  __sizeof__(...)
 |      S.__sizeof__() -> size of S in memory, in bytes
 |
 |  __sub__(self, value, /)
 |      Return self-value.
 |
 |  __xor__(self, value, /)
 |      Return self^value.
 |
 |  add(...)
 |      Add an element to a set.
 |
 |      This has no effect if the element is already present.
 |
 |  clear(...)
 |      Remove all elements from this set.
 |
 |  copy(...)
 |      Return a shallow copy of a set.
 |
 |  difference(...)
 |      Return the difference of two or more sets as a new set.
 |
 |      (i.e. all elements that are in this set but not the others.)
 |
 |  difference_update(...)
 |      Remove all elements of another set from this set.
 |
 |  discard(...)
 |      Remove an element from a set if it is a member.
 |
 |      Unlike set.remove(), the discard() method does not raise
 |      an exception when an element is missing from the set.
 |
 |  intersection(...)
 |      Return the intersection of two sets as a new set.
 |
 |      (i.e. all elements that are in both sets.)
 |
 |  intersection_update(...)
 |      Update a set with the intersection of itself and another.
 |
 |  isdisjoint(...)
 |      Return True if two sets have a null intersection.
 |
 |  issubset(...)
 |      Report whether another set contains this set.
 |
 |  issuperset(...)
 |      Report whether this set contains another set.
 |
 |  pop(...)
 |      Remove and return an arbitrary set element.
 |      Raises KeyError if the set is empty.
 |
 |  remove(...)
 |      Remove an element from a set; it must be a member.
 |
 |      If the element is not a member, raise a KeyError.
 |
 |  symmetric_difference(...)
 |      Return the symmetric difference of two sets as a new set.
 |
 |      (i.e. all elements that are in exactly one of the sets.)
 |
 |  symmetric_difference_update(...)
 |      Update a set with the symmetric difference of itself and another.
 |
 |  union(...)
 |      Return the union of sets as a new set.
 |
 |      (i.e. all elements that are in either set.)
 |
 |  update(...)
 |      Update a set with the union of itself and others.
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  __class_getitem__(...) from builtins.type
 |      See PEP 585
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

In [14]:
x = {1,2,'hello', 'python', 1, 2, 2.5, 2,3,4,5,6, (1,2,3)}
x.clear()
print(x)

set()

In [15]:
x = {1,2,'hello', 'python', 1, 2, 2.5, 2,3,4,5,6, (1,2,3)}
x.update([7, 8, 9])
print(x)

{1, 2.5, 2, 3, 'python', 4, 5, 6, 7, 8, (1, 2, 3), 9, 'hello'}

In [17]:
x = {1,2,'hello', 'python', 1, 2, 2.5, 2,3,4,5,6, ((1,2,),3)}
x.update([7, 8, 9])
print(x)

{1, 2.5, 2, 3, 'python', 4, 5, 6, 7, 8, ((1, 2), 3), 9, 'hello'}

In [18]:
x = {1,2,'hello', 'python', 1, 2, 2.5, 2,3,4,5,6, ([1,2,],3)}
x.update([7, 8, 9])
print(x)

TypeError: unhashable type: 'list'

In [19]:
x = {1,2,'hello', 'python', 1, 2, 2.5, 2,3,4,5,6, (1,2,3)}
x.discard(1)
print(x)

{2.5, 2, 3, 'python', 4, 5, 6, (1, 2, 3), 'hello'}

In [20]:
x = {1,2,'hello', 'python', 1, 2, 2.5, 2,3,4,5,6, (1,2,3)}
x.discard(11)
print(x)

{1, 2.5, 2, 3, 'python', 4, 5, 6, (1, 2, 3), 'hello'}

In [21]:
x = {1,2,'hello', 'python', 1, 2, 2.5, 2,3,4,5,6, (1,2,3)}
x.remove(1)
print(x)

{2.5, 2, 3, 'python', 4, 5, 6, (1, 2, 3), 'hello'}

In [22]:
x = {1,2,'hello', 'python', 1, 2, 2.5, 2,3,4,5,6, (1,2,3)}
x.remove(11)
print(x)

KeyError: 11

In [23]:
x = {1,2,'hello', 'python', 1, 2, 2.5, 2,3,4,5,6, (1,2,3)}
x.pop()
print(x)

{2.5, 2, 3, 'python', 4, 5, 6, (1, 2, 3), 'hello'}

In [24]:
x = {}
print(type(x))

<class 'dict'>

In [25]:
# empty set
x = set()
print(x, type(x))

set() <class 'set'>

In [26]:
tea = {'ram', 'shyam', 'sita'}
coffee = {'hari', 'gita', 'sita'}

tea_and_coffee = tea & coffee # intersection
print(tea_and_coffee)

{'sita'}

In [27]:
tea = {'ram', 'shyam', 'sita'}
coffee = {'hari', 'gita', 'sita'}

tea_and_coffee = tea.intersection(coffee) # intersection
print(tea_and_coffee)

{'sita'}

In [28]:
tea = {'ram', 'shyam', 'sita'}
coffee = {'hari', 'gita', 'sita'}

tea_or_coffee = tea | coffee # union
print(tea_or_coffee)

{'gita', 'hari', 'ram', 'shyam', 'sita'}

In [29]:
tea = {'ram', 'shyam', 'sita'}
coffee = {'hari', 'gita', 'sita'}

tea_or_coffee = tea.union(coffee) # union
print(tea_or_coffee)

{'gita', 'hari', 'ram', 'shyam', 'sita'}

In [30]:
tea = {'ram', 'shyam', 'sita'}
coffee = {'hari', 'gita', 'sita'}

tea_only = tea - coffee # difference
print(tea_only)

{'ram', 'shyam'}

In [32]:
tea = {'ram', 'shyam', 'sita'}
coffee = {'hari', 'gita', 'sita'}

tea_only = tea.difference(coffee) # difference
print(tea_only)

{'ram', 'shyam'}

In [33]:
tea = {'ram', 'shyam', 'sita'}
coffee = {'hari', 'gita', 'sita'}

coffee_only = coffee - tea 
print(coffee_only)

{'gita', 'hari'}

In [34]:
tea = {'ram', 'shyam', 'sita'}
coffee = {'hari', 'gita', 'sita'}

tea_only_and_coffee_only = tea.symmetric_difference(coffee)
print(tea_only_and_coffee_only)

{'gita', 'ram', 'shyam', 'hari'}

In [35]:
x = [1,2,3,4,5]
print(min(x))

1

In [36]:
max(x)

5

In [37]:
sum(x)

15

In [38]:
x = [11,2,13,4,5]
print(sorted(x))

[2, 4, 5, 11, 13]

In [41]:
x = [11,2,13,4,5]
print(sorted(x, reverse=True))

[13, 11, 5, 4, 2]

In [42]:
x = {11,2,13,4,5}
print(sorted(x, reverse=True))

[13, 11, 5, 4, 2]

In [43]:
x = {11,2,13,4,5}
print(len(x))

5

In [44]:
my_set = set("apple")
print(my_set)

{'e', 'p', 'l', 'a'}

In [45]:
x = {11,2,13,4,5}
5 in x

True

In [46]:
6 in x

False

In [47]:
x = {11,2,13,4,5}
for i in x:
    print(i)

2
4
5
11
13

In [48]:
x = {11,2,13,4,5}
for i in x:
    print(x)

{2, 4, 5, 11, 13}
{2, 4, 5, 11, 13}
{2, 4, 5, 11, 13}
{2, 4, 5, 11, 13}
{2, 4, 5, 11, 13}

In [49]:
x = [11,2,13,4,5]
print(x[0], x[1])

11 2

In [50]:
age = 17

if age < 18:
    print("Unauthorized.")

Unauthorized.

In [51]:
age = 19

if age < 18:
    print("Unauthorized.")
    
print("Hello world.")

Hello world.

In [52]:
age = 17

if age < 18:
    print("Unauthorized.")
    
print("Hello world.")

Unauthorized.
Hello world.

In [54]:
mark = int(input("Enter the marks: "))

if mark >= 40:
    print("pass")

if mark < 40:
    print("fail")

Enter the marks: 39
fail

In [55]:
x = int(input("Enter the value of x: "))
y = int(input("Enter the value of y: "))

if x > y:
    print("x is greater than y")
    
if y > x:
    print("y is greater than x")

Enter the value of x: 2
Enter the value of y: 4
y is greater than x

In [57]:
mark = int(input("Enter the marks: "))

if mark >= 40:
    print("pass")
else:
    print("fail")

Enter the marks: 40
pass

In [60]:
x = int(input("Enter the value of x: "))
y = int(input("Enter the value of y: "))

if x > y:
    print("x is greater than y")
else:
    print("y is greater than x")

Enter the value of x: 1
Enter the value of y: 1
y is greater than x

In [62]:
x = int(input("Enter the value of x: "))
y = int(input("Enter the value of y: "))

if x > y:
    print("x is greater than y")
elif x == y:
    print("x is equal to y")
else:
    print("y is greater than x")

Enter the value of x: 4
Enter the value of y: 1
x is greater than y

In [63]:
x = int(input("Enter the value of x: "))
y = int(input("Enter the value of y: "))
z = int(input("Enter the value of z: "))

if x > y and x > z:
    print("x is greatest.")
elif y > x and y > z:
    print("y is greatest.")
else:
    print("z is greatest")

Enter the value of x: 1
Enter the value of y: 2
Enter the value of z: 3
z is greatest

In [65]:
x = int(input("Enter the value of x: "))
y = int(input("Enter the value of y: "))
z = int(input("Enter the value of z: "))

if y < x > z:
    print("x is greatest.")
elif x < y > z:
    print("y is greatest.")
else:
    print("z is greatest")

Enter the value of x: 3
Enter the value of y: 2
Enter the value of z: 1
x is greatest.

In [66]:
x = int(input("Enter the value of x: "))
y = int(input("Enter the value of y: "))
z = int(input("Enter the value of z: "))

if x > y and x > z:
    print("x is greatest.")
elif y > x and y > z:
    print("y is greatest.")
elif z > x and z > y:
    print("z is greatest")

Enter the value of x: 1
Enter the value of y: 2
Enter the value of z: 3
z is greatest

In [3]:
# username = "admin"
# password = "admin123"

username = input("Enter the username: ")
password = input("Enter the passwowrd: ")

if username == "admin" and password == "admin123":
    print("Successfully logged in.")

else:
    print("Incorrect username or password.")

Enter the username: admin
Enter the passwowrd: admin123
Successfully logged in.

In [4]:
# username = "admin"
# password = "admin123"
# role = "superadmin"

# username = "admin"
# password = "admin123"

username = input("Enter the username: ")
password = input("Enter the password: ")
role = input("Enter the role: ")

if (username == "admin" and password == "admin123") or role == "superadmin":
    print("Successfully logged in.")

else:
    print("Incorrect username or password.")

Enter the username: asdfs
Enter the password: asdfads
Enter the role: superadmin
Successfully logged in.

In [6]:
username = input("Enter the username: ")
password = input("Enter the password: ")
role = input("Enter the role: ")

if (username == "admin" and password == "admin123"):
    print("Successfully logged in.")
elif role == "superadmin":
    print(f"Successfully logged in {role}")
else:
    print("Incorrect username or password.")

Enter the username: admin
Enter the password: admin123
Enter the role: dsafdsa
Successfully logged in.

In [10]:
username = input("Enter the username: ")
password = input("Enter the password: ")

# nested if.. else..
if (username == "admin" and password == "admin123"):
    print("Successfully logged in.")
else:
    role = input("Enter the role: ")
    if role == "superadmin":
        print(f"Successfully logged in {role}")
    else:
        print("Incorrect username or password.")

Enter the username: dsfgds
Enter the password: sdafds
Enter the role: y
Incorrect username or password.

In [15]:
username = input("Enter the username: ")
password = input("Enter the password: ")

# nested if.. else..
if (username == "admin" and password == "admin123"):
    print("Successfully logged in.")
else:
    confirm = input("Do you want to access through your role? Press y/yes to continue: ")
    if confirm.lower() in ['y', 'yes']:
        role = input("Enter the role: ")
        if role == "superadmin":
            print(f"Successfully logged in {role}")
        else:
            print("Incorrect username or password.")
    else:
        print("Incorrect username or password.")

Enter the username: asdf
Enter the password: asdf
Do you want to access through your role? Press y/yes to continue: superadmin
Incorrect username or password.

In [17]:
x = 11
y = 2

sum = x + y

print(f"The sum of {x} and {y} is {sum}")

The sum of 11 and 2 is 13

In [18]:
username = input("Enter the username: ")
password = input("Enter the password: ")

# nested if.. else..
if (username == "admin" and password == "admin123"):
    print("Successfully logged in.")
else:
    confirm = input("Do you want to access through your role? Press y/yes to continue: ")
    if confirm.lower() == "y" or confirm.lower() == "yes":
        role = input("Enter the role: ")
        if role == "superadmin":
            print(f"Successfully logged in {role}")
        else:
            print("Incorrect username or password.")
    else:
        print("Incorrect username or password...")

Enter the username: asdfdsa
Enter the password: asdfdas
Do you want to access through your role? Press y/yes to continue: n
Incorrect username or password...

In [ ]:
>= 80 => distinction
60-80 => first division
50-60 => second division
35-50 => third division
< 35 => fail

In [22]:
math = int(input("ENter mark in math: "))
science = 80
english = 90
nepali = 84
optional_math = 66
social = 77
eph = 95
computer = 89

average = (math + science + 
           english + nepali + 
           optional_math + social + 
           eph + computer) / 8
print(average)
if average < 35:
    print("failed")
elif 35<=average<50: # elif average >35 and average < 50:
    print('third division')
elif 50<=average<60:
    print('second division')
elif 60<=average<80:
    print('first division')
elif 80<=average<=100:
    print('distinction')

ENter mark in math: 60
80.125
distinction

In [ ]:
age => 1-13 -> teenage
age => 13-18 -> young
age => 18-35 -> adult
age => 35-45 -> old
age => >=45 -> very old