In [1]:
x = [1,2,3,4,5]
for i in x:
    print(i)

1
2
3
4
5

In [2]:
x = [1,2,3,4,5]
sum(x)

15

In [4]:
x = [1,2,3,4,5]

sum = 0
for i in x:
    sum += i # sum = sum + i
print(sum)

15

In [5]:
x = [1,2,3,4,5]

mul = 1
for i in x:
    mul *= i # mul = mul * i
    
print(mul)

120

In [6]:
x = [1,2,3,4,5]
# output = [1, 4, 9, 16, 25]
for i in x:
    print(i ** 2)

1
4
9
16
25

In [9]:
x = [1,2,3,4,5]

output = [] # [1, 4, 9...]

for i in x:
    output.append(i ** 2)
    
print(output)

[1, 4, 9, 16, 25]

In [10]:
4 % 2

0

In [11]:
3 % 2

1

In [12]:
x = [1,2,3,4,5] 
# output = ["odd", "even", "odd" ...]

output = [] # [odd, even, odd]
for i in x:
    if i % 2 == 0:
        output.append("even")
    else:
        output.append("odd")
        
print(output)

['odd', 'even', 'odd', 'even', 'odd']

In [13]:
x = [1, 8, 9]
x.append(10) # insert at very last

print(x)

[1, 8, 9, 10]

In [14]:
x.append('hello')
print(x)

[1, 8, 9, 10, 'hello']

In [15]:
x = [1,2,3,4,5] 

for i in x:
    if i % 2 == 0:
        print('even')
    else:
        print('odd')

odd
even
odd
even
odd

In [16]:
print('hello')
print('hello')
print('hello')
print('hello')

hello
hello
hello
hello

In [17]:
help(print)

Help on built-in function print in module builtins:

print(*args, sep=' ', end='\n', file=None, flush=False)
    Prints the values to a stream, or to sys.stdout by default.

    sep
      string inserted between values, default a space.
    end
      string appended after the last value, default a newline.
    file
      a file-like object (stream); defaults to the current sys.stdout.
    flush
      whether to forcibly flush the stream.

In [18]:
print('hello', end='\n')
print('hello')
print('hello')
print('hello')

hello
hello
hello
hello

In [19]:
print('hello', end='===>')
print('hello')
print('hello')
print('hello')

hello===>hello
hello
hello

In [20]:
x = [1,2,3,4,5,6,7,8,9]

for i in x:
    print(i, end=",")

1,2,3,4,5,6,7,8,9,

In [22]:
x = [1,2,3,4,5,6,7,8,9]

sum = 0
for i in x:
    if i % 2 == 1:
        sum += i
print(sum)

25

In [24]:
x = [1,2,3,4,5,12,1,6,2,7,1,11,19,3,8,9,3,9,10,11,12,24,1,2,3,8] 

print(list(set(x)))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 19, 24]

In [27]:
x = [1,2,3,1,6,2,7,1,11,19,3,8,9,3,9,10,11,12,24,1,2,3,8]

unique = [] # [1, 2, 3, 6 ]
for i in x:
    if i not in unique:
        unique.append(i)
        
print(unique)

[1, 2, 3, 6, 7, 11, 19, 8, 9, 10, 12, 24]

In [28]:
name = 'ramesh pradhan'

vowels = ''
for i in name:
    if i in 'aeiou':
        vowels += i
print(vowels)

aeaa

In [30]:
name = 'ramEsh prAdhan'

vowels = ''
for i in name:
    if i.lower() in 'aeiou':
        vowels += i
print(vowels)

aEAa

In [31]:
name = 'ramEsh prAdhan'

vowels = ''
for i in name:
    if i.lower() in 'aeiou':
        vowels += i
print(len(vowels))

4

In [32]:
name = 'ramEsh prAdhan'

vowels = 0
for i in name:
    if i.lower() in 'aeiou':
        vowels += 1
print(vowels)

4

In [33]:
marks = {'Alan': 99, 'Bill': 55, 'Cory': 77} 

print(marks.values())

dict_values([99, 55, 77])

In [34]:
marks = {'Alan': 99, 'Bill': 55, 'Cory': 77} 

sum = 0
for i in marks.values():
    sum += i
    
print(sum)

231

In [36]:
marks = {'Alan': 99, 'Bill': 55, 'Cory': 77} 

print(list(marks.keys()))

['Alan', 'Bill', 'Cory']

In [37]:
marks = {'Alan': 99, 'Bill': 55, 'Cory': 77} 
for i in marks: # marks.keys()
    print(i)

Alan
Bill
Cory

In [38]:
marks = {'Alan': 99, 'Bill': 55, 'Cory': 77} 
students = []

for i in marks: # marks.keys()
    students.append(i)
    
print(students)

['Alan', 'Bill', 'Cory']

In [39]:
students = ['Alan', 'Bill', 'Cory', 'Ram', 'Shyam', 'Gita']
# output = {"Alan":0, "Bill":1, ...}

In [40]:
students = ['Alan', 'Bill', 'Cory', 'Ram', 'Shyam', 'Gita']

output = {}
i = 0
for student in students:
    output.update({student: i})
    i += 1
print(output)

{'Alan': 0, 'Bill': 1, 'Cory': 2, 'Ram': 3, 'Shyam': 4, 'Gita': 5}