In [1]:
students = ['Alan', 'Bill', 'Cory', 'Ram', 'Shyam', 'Gita']
# output = {'Alan': 4, 'Bill': 4, 'Cory': 4, 'Ram': 3, 'Shyam': 4, 'Gita': 5}

output = {}
for student in students:
    output.update({student: len(student)})
    
print(output)

{'Alan': 4, 'Bill': 4, 'Cory': 4, 'Ram': 3, 'Shyam': 5, 'Gita': 4}

In [2]:
list(range(0, 10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [3]:
list(range(0, 10, 1))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [4]:
list(range(0, 10, 2))

[0, 2, 4, 6, 8]

In [5]:
list(range(10, 0, -1))

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [6]:
list(range(10, -1, -1))

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [8]:
range(10, -1, -1)

range(10, -1, -1)

In [7]:
for i in range(10, -1, -1):
    print(i)

10
9
8
7
6
5
4
3
2
1
0

In [11]:
students = ['Alan', 'Bill', 'Cory', 'Ram', 'Shyam', 'Gita', 'Rita']

for i in range(len(students)-1, -1, -1):
    print(i, students[i])

5 Gita
4 Shyam
3 Ram
2 Cory
1 Bill
0 Alan

In [16]:
us_price = {'milk': 2.03, 'bread': 2.6, 'butter': 2.6}
print(us_price.items())

dict_items([('milk', 2.03), ('bread', 2.6), ('butter', 2.6)])

In [18]:
x = [('milk', 2.03), ('bread', 2.6), ('butter', 2.6)]
for i in x:
    print(i)

('milk', 2.03)
('bread', 2.6)
('butter', 2.6)

In [21]:
i,j = ('milk', 2.03)
print(i, j)

milk 2.03

In [22]:
x = [('milk', 2.03), ('bread', 2.6), ('butter', 2.6)]
for k, v in x:
    print(k, v)

milk 2.03
bread 2.6
butter 2.6

In [23]:
us_price = {'milk': 2.03, 'bread': 2.6, 'butter': 2.6}
# nep_price = {'milk': 268.6299, 'bread': 344.05800000000005, 'butter': 344.05800000000005}
nep_price = {}
for k,v in us_price.items():
    nep_price.update({k: v * 130})
    
print(nep_price)

{'milk': 263.9, 'bread': 338.0, 'butter': 338.0}

In [24]:
us_price = {'milk': 2.03, 'bread': 2.6, 'butter': 2.6}

nep_price = {}
for k,v in us_price.items():
    nep_price.update({k: v * 130 * 1.13})
    
print(nep_price)

{'milk': 298.20699999999994, 'bread': 381.93999999999994, 'butter': 381.93999999999994}

In [25]:
us_price = {'milk': 2.03, 'bread': 2.6, 
            'butter': 2.6, 'meat': 5, 'mobile':500,
        'television': 340}

nep_price = {}
for k,v in us_price.items():
    if v <= 5:
        nep_price.update({k: v * 130 * 1.13})
    
print(nep_price)

{'milk': 298.20699999999994, 'bread': 381.93999999999994, 'butter': 381.93999999999994, 'meat': 734.4999999999999}

In [26]:
us_price = {'milk': 2.03, 'bread': 2.6, 
            'butter': 2.6, 'meat': 5, 'mobile':500,
        'television': 340}

nep_price = {}
for k,v in us_price.items():
    if v <= 5:
        nep_price.update({k: v * 130 * 1.13})
    else:
        nep_price.update({k: v * 130 * 1.20})
        
print(nep_price)

{'milk': 298.20699999999994, 'bread': 381.93999999999994, 'butter': 381.93999999999994, 'meat': 734.4999999999999, 'mobile': 78000.0, 'television': 53040.0}

In [28]:
us_price = {'milk': 2.03, 'bread': 2.6, 
            'butter': 2.6, 'meat': 5, 'mobile':500,
        'television': 340}

nep_price = {}
total_us_price = total_nep_price = 0

for k, v in us_price.items():
    total_us_price += v
    if v <= 5:
        nep_price.update({k: v * 130 * 1.13})
        total_nep_price += v * 130 * 1.13
    else:
        nep_price.update({k: v * 130 * 1.20})
        total_nep_price += v * 130 * 1.20
        
print(total_us_price)
print(total_nep_price)

852.23
132836.587

In [31]:
numbers = [1,2,3,4,5,6,7,8,9,10,11,12] 

for i in numbers:
    if i == 6:
        pass

In [32]:
def hello():

SyntaxError: incomplete input (2160011974.py, line 2)

In [33]:
def hello():
    pass

In [35]:
numbers = [1,2,3,4,5,6,7,8,9,10,11,12] 

sum = 0
for i in numbers:
    if i == 6:
        pass
    else:
        sum += i
        
print(sum)

72

In [36]:
numbers = [1,2,3,4,5,6,7,8,9,10,11,12] 

sum = 0
for i in numbers:
    if i != 6:
        sum += i
        
print(sum)

72

In [44]:
numbers = [1,2,3,4,5,6,7,8,9,10,11,12] 

sum = 0
for i in numbers:
    if i not in [6, 7, 8]:
        sum += i
        
print(sum)

57

In [45]:
numbers = [1,2,3,4,5,6,7,8,9,10,11,12] 

sum = 0
for i in numbers:
    if i in [6, 7, 8]:
        continue # skips the current loop
    sum += i
    print(i)
        
print(sum)

1
2
3
4
5
9
10
11
12
57

In [46]:
numbers = [11,2,13,4,5,6,7,8,9,10,11,12]
sum = 0
for i in numbers:
    if i == 6:
        break
    sum += i
print(sum)

35

In [47]:
names = ['ram', 'shyam', 'gita', 'sita']
foods = ['momo', 'chawmein', 'thukpa']

# nested for loop
for name in names: # ram, shyam
    for food in foods: # momo, chawemin, thukpa
        print(f"{name} eats {food}")

ram eats momo
ram eats chawmein
ram eats thukpa
shyam eats momo
shyam eats chawmein
shyam eats thukpa
gita eats momo
gita eats chawmein
gita eats thukpa
sita eats momo
sita eats chawmein
sita eats thukpa