In [1]:
numbers = [1,2,3,4,5,6,7,8,9,10,11,12] 

sum = 0
for i in numbers:
    sum += i
    
print(sum)

78

In [4]:
numbers = [1,2,3,4,5,6,7,8,9,10,11,12] 

sum = 0

for i in range(0, len(numbers)):
    sum += numbers[i]
    
print(sum)

78

In [5]:
numbers = [1,2,3,4,5] 

sum = 0
i = 0 # value initialize

while i < len(numbers): # condition
    sum += numbers[i]
    i += 1 # incrementer / decrementer
    
print(sum)

15

In [6]:
words = ['one', 'two', 'three', 'four', 'five']

# one 0
# two 1
# three 2
# four 3
# five 4

for i in range(0, len(words)):
    print(words[i], i)

one 0
two 1
three 2
four 3
five 4

In [8]:
words = ['one', 'two', 'three', 'four', 'five']

i =0
while i < len(words):
    print(words[i], i)
    i += 1

one 0
two 1
three 2
four 3
five 4

In [ ]:
while True:
    print('hello')

In [10]:
def reverse_parentheses(st: str) -> str:
    while True:
        split1 = st.split('(')
        split2 = split1[-1].split(')')[0]
        st = st.replace(f'({split2})', f'{split2[::-1]}')
        if '(' not in st and ')' not in st:
            return st                

# s = "(abcd)"
# s = "(ed(et)el)"
# s = "(ed(et(oc))el)"
# s = "(u(love)i)"
# s= "((ng)ipm(ca))"
reversed = reverse_parentheses(s)
print(reversed)

leetde

In [13]:
age = int(input("Enter your age: "))

while age < 18:
    age = int(input("Enter your age:"))

Enter your age: 1
Enter your age:2
Enter your age:18

In [14]:
# 4 * 1 = 4
# 4 * 2 = 8
# 4 * 3 = 12
# 4 * 4 = 16
# 4 * 5 = 20
# 4 * 6 = 24
# 4 * 7 = 28
# 4 * 8 = 32
# 4 * 9 = 36
# 4 * 10 = 40

In [15]:
number = 2
for i in range(1, 11):
    print(f"{number} * {i} = {number * i}")

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

In [17]:
number = 2

i = 1
while i <= 10:
    print(f"{number} * {i} = {number * i}")
    i += 1

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

In [18]:
i = 10
while i >= 1:
    print(i)
    i -= 1

10
9
8
7
6
5
4
3
2
1

In [19]:
x = 4
y = 5

sum = x + y

print(sum)

9

In [20]:
# function definition
def addition():
    x = 4
    y = 5

    sum = x + y

    print(sum)

In [21]:
# function call / run / execute
addition()

9

In [22]:
addition()

9

In [31]:
# function definition
def addition(x, y):

    sum = x + y

    print(sum)

In [32]:
addition(x=5, y=7)

12

In [33]:
addition(x=5234234, y=732432)

5966666

In [34]:
addition(7, 8)

15

In [35]:
# function definition
def addition(x, y):

    sum = x + y

    return sum # function returns the value

In [36]:
a = addition(7, 8)
print(a)

15

In [37]:
# function definition
def addition(x, y):

    sum = x + y # function with no return value

In [38]:
a = addition(7, 8)
print(a)

None

In [39]:
# function definition
def addition(x, y):

    sum = x + y 
    return None # function with None return

In [40]:
a = addition(7, 8)
print(a)

None

In [42]:
# function definition
def addition(x, y):

    sum = x + y 
    return sum 
    # return means getting out of the function => exiting => terminate
    print(x)
    print(y)

In [43]:
a = addition(7, 8)
print(a)

15

In [44]:
def calculator(x, y):
    sum = x + y
    mul = x * y
    div = x / y
    sub = x - y
    return sum
    return mul
    return div
    return sub

In [45]:
a = calculator(7, 8)
print(a)

15

In [46]:
def calculator(x, y):
    sum = x + y
    mul = x * y
    div = x / y
    sub = x - y
    return sum, mul, div, sub

In [47]:
a = calculator(7, 8)
print(a)

(15, 56, 0.875, -1)

In [49]:
def addition(x, y=1): # x is argument and y is default argument
    sum = x + y

    return sum

In [50]:
a = addition(7)
print(a)

8

In [ ]:
a = addition(7, 8)
print(a)